{% extends "sitio/layout.html" %}

{% block content %}
<section class="row mt-3">

    <!-- Titulo -->
    <div class="col-12 mb-4 text-center text-center text-md-left">
        <h3 class="display-4">Acerca de...</h3>
        <h4 class="h4 mt-3">Somos MusicPro!</h4>
        <p>Musicpro, es una pagina web de venta de productos musicales conformado por especialistas en Derechos de
            Autor, con enfoque en la industria del entretenimiento audiovisual, musical y literaria.</p>

        <p>Ofrecemos Productos Certificados, Accesorios Originales, revisión y elaboración de licencias de uso,
            contratos; así como la búsqueda y licenciamiento de derechos.</p>

        <p>El cambio del mundo en el año 2020 con el covid-19 nos cambio la forma de vender y por eso la distigida
            pagina MusicPro es la mejor en el ambito de venta de productos musicales</p>

        <p>Para el usuario mas exigente con productos de 1ra mano y la mejor calidad del mercado la cual cuenta con los
            mejores precios del mercado y con productos que no se pueden conseguir en el pais por lo cual los usuarios
            prefieren nuestra calidad 100% hecho en chile.

            Todos los Derechos Reservados MusicPro ©</p>
        <img src="/media/imagenes/tienda1.jpg" alt="600" width="300">
        <img src="/media/imagenes/tienda2.jpg" alt="600" width="300">
        <img src="/media/imagenes/tienda3.jpg" alt="600" width="300">
    </div>

</section>
{% endblock %}