{% extends "sitio/layout.html" %}

{% block content %}
<section class="row mt-3">

    <!-- Titulo -->
    <div class="col-12 mb-4 text-center text-center text-md-left">
        <h3 class="display-4">Acerca de...</h3>
        <h4 class="h4 mt-3">Somos DataMinds!</h4>
        <p>DataMinds es un equipo apasionado por la ciencia de datos y la inteligencia artificial. Nuestra misión es simplificar el análisis y la manipulación de datos para hacerlos accesibles a todos. Creemos que la toma de decisiones basada en datos puede transformar negocios y mejorar la vida de las personas.</p>
        <p>Nuestro proyecto, PandasAI, es el resultado de años de experiencia en el campo de la ciencia de datos y el desarrollo de software. PandasAI combina lo mejor de la biblioteca Pandas de Python con la inteligencia artificial para brindar una herramienta poderosa y fácil de usar para el análisis de datos.</p>
        <p>Estamos comprometidos con la excelencia técnica y la satisfacción del usuario. Nuestro equipo multidisciplinario está formado por expertos en programación, diseño de interfaces de usuario, análisis de datos y más. Trabajamos incansablemente para mejorar continuamente PandasAI y ofrecer la mejor experiencia posible a nuestros usuarios.</p>
        <p>Gracias por unirte a nosotros en este emocionante viaje. ¡Esperamos que disfrutes de PandasAI y que encuentres valor en nuestras herramientas y recursos para el análisis de datos!</p>
        Todos los Derechos Reservados DataMinds ©</p>
        <img src="/media/imagenes/PandasAI1.jpg" alt="600" width="300">
        <img src="/media/imagenes/PandasAI2.jpg" alt="600" width="300">
        <img src="/media/imagenes/PandasAI3.jpeg" alt="600" width="300">
    </div>
    

</section>
{% endblock %}